{% extends 'base.html'%}
{% block container %}

    <div class="jumbotron page-header">
        <h1>Cleanic Web </h1>
        <p> Este software foi desenvolvido para otimizar a gestão de clínicas odontológicas, proporcionando uma experiência mais eficiente e organizada 
            para dentistas, pacientes e equipes administrativas. Com uma interface intuitiva, oferece funcionalidades essenciais, como o cadastro completo 
            de pacientes, profissionais de saúde e especialidades odontológicas, além de um sistema integrado para agendamento de consultas.</p>
{% endblock %}
